.gallery {
    width: 600px;
    margin: 70;
}

#main-image {
    width: 100%;
    height: 300;
}

.thumbnails {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.thumbnail {
    width: 140px;
    height: 90px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.thumbnail:hover {
    transform: scale(1.1);
}